body{
	background-color: #a7e8e0;
}

h1{
	text-align: center;
	text-decoration: underline;
	font-family: "Times New Roman", Times, serif;
}

h2{
  text-align: center;
}

p{
  text-align: justify;
}

/************************/
/* 	    COULEURS        */
/************************/

.primary {
	background-color: #2023EE;
	padding: 14px;
	width: 100px;
}
.primary2 {
	background-color: #22BFE8;
	padding: 14px;
	width: 90px;
}

.secondary {
	background-color: #65156D;
	padding: 14px;
	width: 100px;
}
.secondary2 {
	background-color: #DA1BEE;
	padding: 14px;
	width: 90px;
}

.tertiaire {
	background-color: #0C5A05;
	padding: 14px;
	width: 100px;
}
.tertiaire2 {
	background-color: #17B309;
	padding: 14px;
	width: 90px;
}

.quaternaire {
	background-color: #4E1257;
	padding: 14px;
	width: 100px;
}
.quaternaire2 {
	background-color: #D32DEB;
	padding: 14px;
	width: 90px;
}

.quinquénaire {
	background-color: #781723;
	padding: 14px;
	width: 100px;
}
.quinquénaire2 {
	background-color: #EB3131;
	padding: 14px;
	width: 90px;
}

.dark{
  background-color: #282828;
  padding: 5px;
  width: 90px;
}

.medium-light{
  background-color: #708090;
  padding: 5px;
  width: 90px;
}

.light{
  background-color: #ced4d0;
  padding: 5px;
  width: 90px;
}

.text-primary {
  color: white;	
}

.cadre{
	display: inline-block;
	border: solid 0px;
	margin-left: 10px;
	width: 150px;
}
h3{
	margin: 0;
}

/************************/
/* 	   TYPOGRAPHIE      */
/************************/

.typo{
	font-family: Courier New, Lucida Console, Times, monospace;
 	font-style: normal;
	font-weight: 400;
}

.text-normal{	
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: 400;
}

.text-h1-h6{
	font-family: verdana, serif;
	font-style: normal;
	font-weight: bold;
}

li{
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
}

#important{
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: bold;
}

#citations{
	color: green;
	font-style: italic;
	font-family: "Lucida caligraphie", Times, serif;
}

#liste{
	font-weight: lighter;
}

/************************/
/* 	     BOUTTON        */
/************************/

.marge{
	margin-top: 12px;
}

button{
	overflow: hidden;
  cursor: pointer;
  padding: 10px;
  width: 100px;
  text-align: center;
  position: relative;
  color: white;
  font-size: 16px;
  border: solid black 2px;
  border-radius: 5px;
}
button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.btn-1{
	background-color: #0073e5;
}

.btn-2{
	background-color: #ead61c;
}

.btn-3{
	background-color: red;
}

.btn-4{
	background-color: #008080;
}

.btn-5{
	background-color: green;
}

.btn-6{
	background-color: none;
	border-color: #0073e5;
	color: #0073e5;
}

.btn-6:hover {
  background-color: #0073e5;
  color: white;
}

.btn-7{
	background-color: none;
	border-color: #ead61c;
	color: #ead61c;
}

.btn-7:hover {
  background-color: #ead61c;
  color: white;
}

.btn-8{
	background-color: none;
	border-color: red;
	color: red;
}

.btn-8:hover {
  background-color: red;
  color: white;
}

.btn-9{
	background-color: none;
	border-color: #008080;
	color: #008080;
}

.btn-9:hover {
  background-color: #008080;
  color: white;
}


.btn-10{
	background-color: none;
	border-color: green;
	color: green;
}

.btn-10:hover {
  background-color: green;
  color: white;
}

.btn-11{
  background-color: #0073e5;
  color: white;
  padding: 5px;
  width: 50px;
  font-size: 10px;
  border: solid black 1px;
  border-radius: 2px;
}

.btn-12{
  background-color: #ead61c;
  color: white;
  padding: 5px;
  width: 50px;
  font-size: 10px;
  border: solid black 1px;
  border-radius: 2px;
}

.btn-13{
  background-color: red;
  color: white;
  padding: 5px;
  width: 50px;
  font-size: 10px;
  border: solid black 1px;
  border-radius: 2px;
}

.btn-14{
  background-color: #008080;
  color: white;
  padding: 5px;
  width: 50px;
  font-size: 10px;
  border: solid black 1px;
  border-radius: 2px;
}

.btn-15{
  background-color: green;
  color: white;
  padding: 5px;
  width: 50px;
  font-size: 10px;
  border: solid black 1px;
  border-radius: 2px;
}

.btn-16{
  background-color: #0073e5;
  color: white;
  padding: 10px;
  width: 180px;
  font-size: 16px;
  border: solid black 2px;
  border-radius: 5px;
}

.btn-17{
  background-color: #ead61c;
  color: white;
  padding: 10px;
  width: 180px;
  font-size: 16px;
  border: solid black 2px;
  border-radius: 5px;
}

.btn-18{
  background-color: red;
  color: white;
  padding: 10px;
  width: 180px;
  font-size: 16px;
  border: solid black 2px;
  border-radius: 5px;
}

.btn-19{
  background-color: #008080;
  color: white;
  padding: 10px;
  width: 180px;
  font-size: 16px;
  border: solid black 2px;
  border-radius: 5px;
}

.btn-20{
  background-color: green;
  color: white;
  padding: 10px;
  width: 180px;
  font-size: 16px;
  border: solid black 2px;
  border-radius: 5px;
}


/************************/
/* 	    Formulaire      */
/************************/


.form{
	margin: auto;
	width: 200px;
	height: 350px;
	padding: 30px;
	background-color: #0e528a;
}

input, form{
	text-align: center;
}

/************************/
/*        Liste         */
/************************/



.list-group {
  margin: auto;
  width: 200px;
  height: 450px;
  padding: 30px;
  background-color: #8F7BA9;
}

.list-group img{
  height: 200px;
  width: 200px;
}

/************************/
/*       cadre          */
/************************/

.cadre2{
  display: inline-block;
  margin: 0 0 20px 100px;

 }


.card{
  width: 200px;
  height: 450px;
  overflow: auto;
  box-shadow: 0 4px 8px 0 blue;
  transition: 0.3s;
}
.card img{
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0  red;
}

.container {
  padding: 2px 16px;
}

#cardpic1{
  background-image: url(images/profil.jpeg);
  background-size: cover;
}